@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}
/* GetStarted.scss */

/* GetStarted.scss */

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    width: 200px;
  }
}

.center-content {
  flex-grow: 1; /* Allow the content to take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
}

.container__btns {
  margin-top: 20px;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center buttons horizontally */
}
