@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}

.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chakra-select {
  &.css-161pkch {
    display: flex;
    justify-content: center;
  }
}
