@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}

.chart-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chakra-select {
  &.css-161pkch {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    &.css-42b2qy {
      width: 50%;
      //margin-left: 1rem;
    }
  }
}
.chart-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-insights {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.data-insights p {
  margin: 5px;
}

/* Optional: Add some font and color styles */
.data-insights p {
  font-size: 16px;
  color: #333;
}

.data-insights p:first-child {
  font-weight: bold;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
