@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}

.workout {
  padding-left: 1rem;
  padding-right: 1rem;

  &__heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__btns {
    display: flex;

    &--discard {
      margin-right: 2rem;
    }
  }
}

.chakra-modal__content {
  &.css-pv22qu {
    margin-top: 20rem;
    width: 80%;
  }
}
