@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}

.workout {
  padding-left: 1rem;
  padding-right: 1rem;

  &__heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__btns {
    display: flex;

    &--discard {
      margin-right: 2rem;
    }
  }
  &__background {
    //background-color: grayscale($color: #f1eaea);
    width: 100%;
    // padding: 2rem 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }
}

.chakra-modal__content {
  &.css-pv22qu {
    margin-top: 20rem;
    width: 15rem;
  }
}
