@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
  box-sizing: border-box;
}

.exercise-container {
  //background-color: grayscale($color: #f1eaea);
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;

  &__heading {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    &--name {
      padding-right: 2rem;
    }
  }
  &__userinputunchecked {
    display: flex;
    justify-content: space-between;
  }
  &__userinputchecked {
    display: flex;
    justify-content: space-between;
    background: #90e4c1;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
  }
}

.chakra-numberinput__field {
  &.css-bjn565 {
  }
}
